<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="app">
            <!-- 1.在遍历对象时，如果只是获取一个值，则获得的是value -->
            <ul>
                <li v-for="item in info">{{ item }}</li>
            </ul>
            <!-- 2.在遍历对象时，如果要获得key，可以采用（value,key) -->
            <ul>
                <li v-for="(value,key) in info">{{value}}-{{key}}</li>
            </ul>
            <!-- 3.在遍历对象时，如果要获得key,index，可以采用（value,key,index) -->
            <ul>
                <li v-for="(value,key) in info">{{value}}-{{key}}-{{ index }}</li>
            </ul>
        </div>
        <script src="../js/vue.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    info: {
                        name: 'why',
                        age: 18,
                        height: 190
                    }
                }
            })
        </script>
    </body>
</html>